#root {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation{
  color: #f8aecc;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.icons {
  color: #f8aecc;
  margin: 3px;
}

.icons:hover{
  color: #fbf2fa;
}

.navbar-nav .nav-link {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

.fa-brands {
  margin-left: 0.5rem;
}

 section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  box-sizing: border-box;
 }

 .presentation {
  background: rgb(199,139,227);
background: linear-gradient(0deg, rgba(199,139,227,1) 9%, rgba(241,165,244,1) 31%, rgba(251,249,204,1) 87%);
 }

 .presentation-container {
  background: rgb(199,139,227);
  background: linear-gradient(0deg, rgba(199,139,227,1) 9%, rgba(241,165,244,1) 31%, rgba(251,249,204,1) 87%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 1%;
  max-width: 1200px;
  margin: 0 auto;
}

.profile-image {
  width: 80%;
  max-width: 250px;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.name {
  font-size: 2.5rem;
  font-weight: 400;
  color: #333;
  margin-bottom: 10px;
}

.text-muted {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 20px;
  font-style: italic
}

.lead {
  font-size: 1.125rem;
  line-height: 1.6;
  color: #313030;
}

.technologies{
  background: rgb(199,139,227);
  background: linear-gradient(180deg, rgba(199,139,227,1) 9%, rgba(241,165,244,1) 31%, rgba(251,249,204,1) 87%);
}

.technologies-section {
  padding: 50px 0;
  background-color: rgba(53, 53, 52, 0.9);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.technologies-title {
  font-size: 2rem;
  font-weight: 700;
  color: #0b0b0b;
  text-align: center;
  margin-bottom: 30px;
}

.technology-category {
  font-size: 1.5rem;
  font-weight: 600;
  color: #e2ecf6;
  margin-bottom: 20px;
  text-align: center;
}

.technology-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.technology-icon {
  width: 60px;
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.technology-icon:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.contact-links {
  margin-top: 30px;
  text-align: center;
}

.contact-link-icon {
  width: 60px;
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-link-icon:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.proyects{
  background-color: #f563e4;
  color: #950084;
}

.contact{
  background-color: #ffcaf9;
  color: #000;
}