#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.navigation{
  color: #f8aecc;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.icons {
  color: #f8aecc;
  margin: 3px;
}

.icons:hover{
  color: #fbf2fa;
}

.navbar-nav .nav-link {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

.fa-brands {
  margin-left: 0.5rem;
}

 section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
 }

.presentation {
  display: flex;
  background: rgb(247,249,212);
  background: linear-gradient(0deg, rgba(247,249,212,1) 9%, rgba(252,156,255,1) 44%, rgba(199,139,227,1) 84%);
 }

 img{
  width: 500px;
  height: 500px;
 }

.technologies{
  background-color: #000;
  color: #fbf2fa;
}

.proyects{
  background-color: #f563e4;
  color: #950084;
}

.contact{
  background-color: #ffcaf9;
  color: #000;
}