#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.navigation{
  color: #f8aecc;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.icons {
  color: #f8aecc;
}

.nav-link {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-link {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

.fa-brands {
  margin-left: 0.5rem;
}
 section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
 }

 .presentacion {
  display: block;
 }
.stack-tecnologico{
  background-color: #000;
  color: #fbf2fa;
}

.proyectos{
  background-color: #f563e4;
  color: #950084;
}

.contacto{
  background-color: #ffcaf9;
  color: #000;
}